html, body, h1, h2, h3, table, tr, th, td, ol, li , ul, p {
	margin: 0px;
	padding: 0px;
	font-family: 'Titillium Web', sans-serif;
}


/* ---------- MID ---------- */

#wrapper {
	width: 960px;
	margin: 0 auto;
	margin-top: 25px;
}
	@media screen and (max-width: 900px) {
		#wrapper {
			width: 95%;
		}
	}

/* ---------- HEADER ---------- */
div.menu {
	width: 100%;
	background: #409075;
} 

@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
#cssmenu {
  background: #409075;
}
#cssmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}
#cssmenu ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#cssmenu ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
#cssmenu.align-right ul li {
  float: right;
}
#cssmenu.align-center ul {
  text-align: center;
}
#cssmenu ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
#cssmenu ul li a:hover {
  color: #333333;
}
#cssmenu ul li a:hover:before {
  width: 100%;
}
#cssmenu ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #ffffff;
  opacity: .5;
}
#cssmenu ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #333333;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
#cssmenu ul li.last > a:after,
#cssmenu ul li:last-child > a:after {
  display: none;
}
#cssmenu ul li.active a {
  color: #333333;
}
#cssmenu ul li.active a:before {
  width: 100%;
}
#cssmenu.align-right li.last > a:after,
#cssmenu.align-right li:last-child > a:after {
  display: block;
}
#cssmenu.align-right li:first-child a:after {
  display: none;
}
@media screen and (max-width: 768px) {
	#cssmenu ul li {
		float: none;
		display: block;
	}
	#cssmenu ul li a {
		width: 100%;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		border-bottom: 1px solid #fb998c;
	}
	#cssmenu ul li.last > a,
	#cssmenu ul li:last-child > a {
		border: 0;
	}
	#cssmenu ul li a:after {
		display: none;
	}
	#cssmenu ul li a:before {
		display: none;
	}
}

/* ---------- LOGIN & REGISTREER ---------- */

#login {
	margin: auto;
	width: 400px;
	margin-bottom: 30px;
}

#login h2 { margin-bottom: 15px; }

#login input {
	border: none;
	height: 48px;
	outline: none;
	font-size: 14px;
	width: calc(100% - 17px);
}

#login input[type="text"] {
	border-top: 1px solid #000;
	border-right: 1px solid #000;
	border-left: 1px solid #000;
	border-radius: 5px 5px 0 0;
	color: #514d4d;
	padding-left: 16px;
}

#login input[type="email"] {
	border-top: 1px solid #828282;
	border-right: 1px solid #000;
	border-left: 1px solid #000;
	color: #514d4d;
	padding-left: 16px;
}

#login input[type="password"] {
	border-top: 1px solid #828282;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	border-left: 1px solid #000;
	border-radius: 0 0 5px 5px;
	color: #514d4d;
	margin-bottom: 15px;
	padding-left: 16px;
}

#login input[type="checkbox"] {
	height: 20px;
	width: 16px;
	float: left;
	margin-right: 5px;
	margin-bottom: 15px;
}

#login input[type="submit"] {
	background: #1aacf4;
	border: 1px solid #391515;
	border-radius: 5px;
	color: #fff;
	font-weight: bold;	
	margin-bottom: 3px;
	line-height: 48px;
	text-align: center;
	text-transform: uppercase;
	transition: 0.2s;
	width: 100%;
}
	#login input[type="submit"]:hover { background: #1584c4; }

#form_links a{
	text-decoration: none;
	color: rgb(56, 56, 56);
}
	#form_links a:visited{ color:inherit; }
	#form_links a:hover{ color: rgb(26, 172, 244); }

/* ---------- MELDINGEN ---------- */

.foutmelding {
	width: 39%;
	margin: 0 auto;
	padding: 10px;
	margin-bottom: 10px;
	text-align: center;
	color: #fff;
	border: 2px solid #CC3030;
	border-radius: 5px;
	color: #CC3030;;
}

.succesmelding  {
	width: 50%;
	margin: 0 auto;
	padding: 15px;
    background-color: #129E27;
    color: #fff;
    z-index: 999px;
    text-align: center;
    border-radius: 5px;
}

.succesmelding a {
	color: #fff;
	text-decoration: none;
}
	.foutmelding a:hover,
	.succesmelding a:hover {
		color: #000;
		text-decoration: none;
	}

/* ---------- GAME USER STYLE ---------- */
form.gameform div.game_user {
	width: 48%;
	float: left;
	margin-right: 10px;
	height: 210px;
	margin-bottom: 15px;
}
form.gameform div.game_user:hover { background-color: #E8E8E8;}
form.gameform div.game_user input{
	border: 1px solid #000;
	border-radius: 5px;
	color: #514d4d;
	padding-left: 30px;
	height: 40px;
	width: 79%;
	font-size: 16px;
}
form.gameform input[type="submit"] {
	background: #09AC09;
	border: 1px solid #391515;
	border-radius: 5px;
	color: #fff;
	font-weight: bold;	
	margin-bottom: 25px;
	padding: 13px;
	text-align: center;
	text-transform: uppercase;
	transition: 0.2s;
	width: 300px;
	margin: 0 auto;
}
form.gameform input[type="submit"]:hover { background: #52A552; }
form.gameform div.game_user div.input_user { margin: 51px 0 0 40px; }
form.gameform div.game_user div.input_user p { font-size: 20px; }

html body div#wrapper span.error {
	width: 300px;
	padding: 10px;
	margin-bottom: 10px;
	text-align: center;
	color: #fff;
	border: 2px solid #CC3030;
	border-radius: 5px;
	color: #CC3030;;
	display: block;
}
form.gameform div.game_user input[type="password"] {
 	border: 1px solid #000;
    border-radius: 5px;
    color: #514d4d;
    font-size: 16px;
    height: 40px;
    margin-left: 40px;
    margin-top: 15px;
    padding-left: 34px;
    width: 71%;
}


/* ---------- HIGHSCORES & PROFIEL ---------- */

.tabelopmaak table { 
	width: 100%; 
	border-collapse: collapse; 
}
/* Zebra striping */
.tabelopmaak tr:nth-of-type(odd) { 
	background: #eee; 
}
.tabelopmaak th { 
	background: #333; 
	color: white; 
	font-weight: bold; 
}
.tabelopmaak td, 
.tabelopmaak th {
	padding: 6px; 
	border: 1px solid #ccc; 
	text-align: left; 
}

/* ---------- CHATROOM ---------- */

#page-wrap{ width: 500px; margin: 30px auto; position: relative; }
#chat-wrap { border: 1px solid #eee;}

#chat-area { height: 300px; overflow: auto; border: 1px solid #666; padding: 20px; background: white; width: 97%; }
#chat-area span { color: white; background: #333; padding: 4px 8px; -moz-border-radius: 5px; -webkit-border-radius: 8px; margin: 0 5px 0 0; }
#name-area { position: absolute; top: 12px; right: 0; color: white; font: bold 12px "Lucida Grande", Sans-Serif; text-align: right;}   
#name-area span { color: #fa9f00; }

textarea {width: 100%;}
#sendie { border: 3px solid #999; width: 100%; padding: 10px; }
html body div#wrapper div#page-wrap div#chat-wrap div#chat-area p {
	margin-bottom: 15px;
}

/* ---------- FOOTER ---------- */

.footer {
	width: 100%;
	background-color: #000;
}

#footer_copyright p {
	color: #fff;
	text-align: center;
	padding: 5px;
}

/* ---------- GAME ---------- */
.spelbord {
	background-color: #B8B8B8;
	border-collapse: collapse;
}
.spelbord td {
	padding: 3px;
}
.spelbord img {
	margin: 6px 4px 0 4px;
	width: 55px;
	height: 55px;
}

/* ---------- SPEL MENU ---------- */
div.spel_menu {
	width: 483px;
	background: green;
}
div.stop_link {
    background-color: rgb(211, 4, 4);
    float: left;
    width: 20%;
    height: 60px;
}
.button > img {
    margin-top: 6px;
    margin-left: 23px;
}
div.spel_menu div.spelers {
	background: rgb(219, 219, 219);
    float: left;
    width: 80%;
    height: 60px;
}
.spelers img {
	margin: 0 0 0 10px;
    height: 20px;
}
div.spel_menu div.spelers p {
	font-size: 19px;
}

 div.spel_menu div.spelers p span {
 	padding-left: 10px;
 }

.speler_beurt {
    background: rgb(48, 109, 88);
    color: #fff;
    text-align: center;
    width: 483px;
}
.speler_win {
    background: rgb(14, 178, 17);
    color: #fff;
    font-size: 20px;
    padding: 6px;
    text-align: center;
    width: 471px;
}
.spel_gestopt {
    background: rgb(170, 29, 22);
    color: #fff;
    font-size: 23px;
    padding: 20px;
    width: 60%;
}
.spel_gestopt a{
    color: #fff;
}


